{% extends 'tasks/main.html' %}
{% load static %}
{% block content %}
    <div class="tasks" id="tasks">
        <div class="task-content">
            <div class="task-content__input">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form.title}}
                    <input class="form-submit" type="submit" value="Add Task">
                </form>
            </div>
            <div class="task-content__outputs">
                {% if len(tasks) == 0 % }
                    <div class="task-text">
                        <p>No task Added yet</p>
                    </div>
                {% endif %}

                {% for task in tasks %}
                    <div class="task-content__output">
                        {% if task.completed == True %}
                            <div class="task-text task-completed">
                                <p>{{task}}</p>
                            </div>
                        {% else %}
                            <div class="task-text">
                                <p>{{task}}</p>
                            </div>
                        {% endif %}
                        <div class="buttons">
                            <!-- <a href="#" class="completed-button"><img src="{% static './assets/check.png' %}" alt="completed-button"></a> -->
                            <a href="{% url 'edit_task' task.id %}" class="edit-button"><img src="{% static './assets/edit.png' %}" alt="completed-button"></a>
                            <a href="{% url 'delete_task' task.id %}" class="delete-button"><img src="{% static './assets/delete.png' %}" alt="completed-button"></a>
                        </div>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock content %}